In [3]:
import requests

In [4]:
# 삼성전자 주식 일별 시세
res = requests.get("https://finance.naver.com/item/sise_day.naver?code=005930&page=6")

In [5]:
res.status_code

200

In [6]:
# 실제 Response 내용보다 적다
res.text

'\n<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">\n<html>\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 :: 세상의 모든 지식, 네이버</title>\n\n<style type="text/css">\n.error_content * {margin:0;padding:0;}\n.error_content img{border:none;}\n.error_content em {font-style:normal;}\n.error_content {width:410px; margin:80px auto 0; padding:57px 0 0 0; font-size:12px; font-family:"나눔고딕", "NanumGothic", "돋움", Dotum, AppleGothic, Sans-serif; text-align:left; line-height:14px; background:url(https://ssl.pstatic.net/static/common/error/090610/bg_thumb.gif) no-repeat center top; white-space:nowrap;}\n.error_content p{margin:0;}\n.error_content .error_desc {margin-bottom:21px; overflow:hidden; text-align:center;}\n.error_content .error_desc2 {margin-bottom:11px; padding-bottom:7px; color:#888; line-height:18px; border-bottom:1px solid #eee;}\n.error_content .error_desc3 {clear:both; color:#888;}\n.error_content .error_desc3 a {color:#004790; text-decoration:underline;}\n.error_content .error_list_type {clear:both; float:left; width:410px; _width:428px; margin:0 0 18px 0; *margin:0 0 7px 0; padding-bottom:13px; font-size:13px; color:#000; line-height:18px; border-bottom:1px solid #eee;}\n.error_content .error_list_type dt {float:left; width:60px; _width /**/:70px; padding-left:10px; background:url(https://ssl.pstatic.net/static/common/error/090610/bg_dot.gif) no-repeat 2px 8px;}\n.error_content .error_list_type dd {float:left; width:336px; _width /**/:340px; padding:0 0 0 4px;}\n.error_content .error_list_type dd span {color:#339900; letter-spacing:0;}\n.error_content .error_list_type dd a{color:#339900;}\n.error_content p.btn{margin:29px 0 100px; text-align:center;}\n</style>\n</head>\n<!-- ERROR -->\n<body>\n<div class="error_content">\n\t<p class="error_desc"><img src="https://ssl.pstatic.net/static/common/error/090610/txt_desc5.gif" width="319" height="30" alt="페이지를 찾을 수 없습니다."></p>\n\t<p class="error_desc2">방문하시려는 페이지의 주소가 잘못 입력되었거나,<br>\n\t\t페이지의 주소가 변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다.<br>\n\t\t입력하신 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.\n\t</p>\n\t<p class="error_desc3">관련 문의사항은 <a href="https://help.naver.com/" target="_blank">고객센터</a>에 알려주시면 친절히 안내해드리겠습니다. 감사합니다.</p>\n\t<p class="btn">\n\t\t<a href="javascript:history.back()"><img src="https://ssl.pstatic.net/static/common/error/090610/btn_prevpage.gif" width="115" height="35" alt="이전 페이지로"></a>\n\t\t<a href="https://finance.naver.com"><img src="https://ssl.pstatic.net/static/nfinance/btn_home.gif" width="115" height="35" alt="증권홈으로"></a>\n\t</p>\n</div>\n</body>\n</html>\n'

In [7]:
req_headers = {
    "referer": "https://finance.naver.com/item/sise_day.naver?code=005930&page=5",
    "upgrade-insecure-requests": "1",
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.5615.138 Safari/537.36"
}

In [8]:
# request 다시 요청
# 삼성전자 주식 일별 시세
res = requests.get(
    url = "https://finance.naver.com/item/sise_day.naver?code=005930&page=6",
    headers = req_headers
)

In [9]:
res.status_code

200

In [10]:
# 원하는 내용이 전부 나오는 것을 확인할 수 있다
res.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 증권</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20230519195543/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20230519195543/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20230519195543/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20230519195543/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20230519195543/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20230519195543/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20230519195543/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.03.10</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">59,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t600\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">59,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">59,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">59,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,902,471</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.03.09</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,100</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">59,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">14,334,499</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.03.08</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t400\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">59,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">14,161,857</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.03.07</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t800\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,473,280</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.03.06</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">13,630,602</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.03.03</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t300\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">10,711,405</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.03.02</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,800</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">13,095,682</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.02.28</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,600</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">13,715,861</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.02.27</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t800\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,155,697</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.02.24</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t700\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">62,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">62,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">61,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">10,308,143</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t<td class="pgLL">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=1"  >\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7" height="5" alt="">맨앞\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                \n                <td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td class="on">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=676"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20230519195543/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20230519195543/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>\n'

In [11]:
import bs4
soup = bs4.BeautifulSoup(res.text)

In [12]:
# table 가져오기
# - 아래 사항이 안가져와 지게 된다. 왜냐하면 우리가 실제 가져오는 데이터는
# - 우리가 현재 보고 있는 페이지가 아니라, 
#    NetWork - All - 특정 request - Response 에 대응되는 자료이기 때문이다.
soup.select("table.type2 > tbody > tr")

[]

In [14]:
# 실제 Response 에는 table 밑에 바로 tr 이 존재한다.
tr_elements = soup.select("table.type2 > tr")

In [15]:
len(tr_elements)

16

In [17]:
for e in tr_elements :
    print(e.text.strip())

날짜
종가
전일비
시가
고가
저가
거래량

2023.03.10
59,500


				600


59,500
59,700
59,100
11,902,471
2023.03.09
60,100


				200


60,500
60,800
59,900
14,334,499
2023.03.08
60,300


				400


60,100
60,500
59,900
14,161,857
2023.03.07
60,700


				800


61,400
61,400
60,700
11,473,280
2023.03.06
61,500


				1,000


61,100
61,600
60,800
13,630,602



2023.03.03
60,500


				300


61,000
61,200
60,500
10,711,405
2023.03.02
60,800


				200


60,900
61,800
60,500
13,095,682
2023.02.28
60,600


				100


60,800
61,400
60,500
13,715,861
2023.02.27
60,500


				800


60,800
60,800
60,200
11,155,697
2023.02.24
61,300


				700


62,300
62,600
61,300
10,308,143

In [18]:
th_element = soup.select("table.type2 > tr > th")

In [19]:
for h in th_element :
    print(h.text.strip())

날짜
종가
전일비
시가
고가
저가
거래량

In [28]:
# 의미있는 데이터들만 추려내고자 한다. attribute 속성을 이용한다
# tr 중에서 onmouseover=mouseOver(this) attr 를 가진 녀석들만 가져와줘
data_tr_elements = soup.select("table.type2 > tr[onmouseover='mouseOver(this)']")
len(data_tr_elements)

10

In [32]:
# find 버전
# 의미있는 데이터들만 추려내고자 한다. attribute 속성을 이용한다
# tr 중에서 onmouseover=mouseOver(this) attr 를 가진 녀석들만 가져와줘
data_tr_elements = soup.find("table",class_="type2").find_all("tr", {"onmouseover" : "mouseOver(this)"})
len(data_tr_elements)

10

In [34]:
for h in data_tr_elements :
    print(h.text.strip())
    print("")

2023.03.10
59,500


				600


59,500
59,700
59,100
11,902,471

2023.03.09
60,100


				200


60,500
60,800
59,900
14,334,499

2023.03.08
60,300


				400


60,100
60,500
59,900
14,161,857

2023.03.07
60,700


				800


61,400
61,400
60,700
11,473,280

2023.03.06
61,500


				1,000


61,100
61,600
60,800
13,630,602

2023.03.03
60,500


				300


61,000
61,200
60,500
10,711,405

2023.03.02
60,800


				200


60,900
61,800
60,500
13,095,682

2023.02.28
60,600


				100


60,800
61,400
60,500
13,715,861

2023.02.27
60,500


				800


60,800
60,800
60,200
11,155,697

2023.02.24
61,300


				700


62,300
62,600
61,300
10,308,143

In [36]:
total_data_list = []
for e in data_tr_elements :
    # 각 tr, 즉 row 마다 data 를 가져온다
    td_elements = e.select("td")
    data_list = []
    for td_e in td_elements :
        data_list.append(td_e.text.strip())
    total_data_list.append(data_list)

In [42]:
total_data_list

[[['2023.05.23', '68,400', '100', '68,500', '68,700', '68,100', '8,508,045'],
  ['2023.05.22', '68,500', '100', '68,400', '69,000', '68,000', '14,470,308'],
  ['2023.05.19',
   '68,400',
   '2,200',
   '67,800',
   '68,400',
   '67,500',
   '20,349,345'],
  ['2023.05.18',
   '66,200',
   '1,200',
   '66,000',
   '66,200',
   '65,700',
   '14,431,704'],
  ['2023.05.17', '65,000', '400', '65,900', '65,900', '64,800', '10,745,504'],
  ['2023.05.16', '65,400', '900', '65,800', '65,900', '65,300', '12,334,657'],
  ['2023.05.15', '64,500', '400', '64,100', '64,600', '63,900', '8,172,021'],
  ['2023.05.12', '64,100', '100', '63,700', '64,600', '63,600', '8,693,913'],
  ['2023.05.11', '64,200', '400', '64,700', '65,100', '64,200', '11,648,905'],
  ['2023.05.10', '64,600', '700', '65,500', '65,500', '64,300', '13,057,727']],
 [['2023.05.09', '65,300', '600', '65,800', '65,800', '65,100', '9,366,861'],
  ['2023.05.08', '65,900', '800', '66,300', '66,300', '65,400', '9,405,365'],
  ['2023.05.04', '65,100', '300', '65,600', '65,700', '64,700', '9,791,064'],
  ['2023.05.03', '65,400', '300', '65,100', '65,600', '64,900', '8,876,749'],
  ['2023.05.02', '65,700', '200', '66,000', '66,300', '65,100', '14,396,948'],
  ['2023.04.28', '65,500', '900', '65,200', '65,900', '65,000', '19,699,481'],
  ['2023.04.27', '64,600', '500', '64,100', '65,000', '63,300', '14,779,601'],
  ['2023.04.26', '64,100', '500', '63,600', '64,300', '63,300', '12,664,541'],
  ['2023.04.25',
   '63,600',
   '1,600',
   '65,300',
   '65,400',
   '63,400',
   '16,193,271'],
  ['2023.04.24', '65,200', '500', '65,300', '65,700', '64,800', '12,986,581']],
 [['2023.04.21', '65,700', '400', '65,800', '65,900', '65,400', '10,538,622'],
  ['2023.04.20', '65,300', '200', '65,100', '65,300', '64,600', '9,501,169'],
  ['2023.04.19', '65,500', '100', '65,500', '65,800', '65,300', '10,255,985'],
  ['2023.04.18', '65,600', '300', '65,900', '66,000', '64,800', '14,802,060'],
  ['2023.04.17', '65,300', '200', '65,000', '65,600', '64,700', '13,486,618'],
  ['2023.04.14',
   '65,100',
   '1,000',
   '66,600',
   '66,600',
   '65,000',
   '16,176,490'],
  ['2023.04.13', '66,100', '100', '65,600', '66,100', '65,400', '15,091,022'],
  ['2023.04.12', '66,000', '100', '65,800', '66,200', '65,300', '15,021,313'],
  ['2023.04.11', '65,900', '200', '66,200', '66,200', '65,400', '16,323,183'],
  ['2023.04.10', '65,700', '700', '64,800', '66,300', '64,700', '18,777,166']],
 [['2023.04.07',
   '65,000',
   '2,700',
   '63,800',
   '65,200',
   '63,800',
   '27,476,120'],
  ['2023.04.06',
   '62,300',
   '1,600',
   '63,500',
   '63,600',
   '62,300',
   '14,992,747'],
  ['2023.04.05', '63,900', '300', '63,700', '64,000', '63,400', '9,176,149'],
  ['2023.04.04', '63,600', '500', '63,400', '63,800', '62,800', '11,120,514'],
  ['2023.04.03', '63,100', '900', '64,000', '64,000', '63,000', '11,973,133'],
  ['2023.03.31', '64,000', '800', '64,000', '64,000', '63,700', '14,094,479'],
  ['2023.03.30', '63,200', '500', '63,700', '63,700', '63,100', '15,684,377'],
  ['2023.03.29', '62,700', '200', '62,500', '62,700', '62,200', '11,216,008'],
  ['2023.03.28', '62,900', '800', '62,400', '62,900', '62,100', '11,614,118'],
  ['2023.03.27', '62,100', '900', '62,600', '62,800', '62,000', '11,039,331']],
 [['2023.03.24', '63,000', '700', '62,700', '63,300', '62,300', '18,278,602'],
  ['2023.03.23',
   '62,300',
   '1,200',
   '60,600',
   '62,300',
   '60,600',
   '15,381,057'],
  ['2023.03.22', '61,100', '800', '61,000', '61,200', '60,500', '8,978,591'],
  ['2023.03.21', '60,300', '100', '60,500', '60,700', '60,100', '8,318,514'],
  ['2023.03.20', '60,200', '1,100', '61,100', '61,200', '60,200', '9,618,009'],
  ['2023.03.17',
   '61,300',
   '1,400',
   '60,800',
   '61,300',
   '60,600',
   '14,090,110'],
  ['2023.03.16', '59,900', '100', '59,200', '60,200', '59,100', '10,611,939'],
  ['2023.03.15', '59,800', '800', '60,000', '60,300', '59,600', '10,482,149'],
  ['2023.03.14',
   '59,000',
   '1,000',
   '59,400',
   '59,500',
   '59,000',
   '12,147,346'],
  ['2023.03.13', '60,000', '500', '59,900', '60,200', '59,300', '12,779,724']],
 [['2023.03.10', '59,500', '600', '59,500', '59,700', '59,100', '11,902,471'],
  ['2023.03.09', '60,100', '200', '60,500', '60,800', '59,900', '14,334,499'],
  ['2023.03.08', '60,300', '400', '60,100', '60,500', '59,900', '14,161,857'],
  ['2023.03.07', '60,700', '800', '61,400', '61,400', '60,700', '11,473,280'],
  ['2023.03.06',
   '61,500',
   '1,000',
   '61,100',
   '61,600',
   '60,800',
   '13,630,602'],
  ['2023.03.03', '60,500', '300', '61,000', '61,200', '60,500', '10,711,405'],
  ['2023.03.02', '60,800', '200', '60,900', '61,800', '60,500', '13,095,682'],
  ['2023.02.28', '60,600', '100', '60,800', '61,400', '60,500', '13,715,861'],
  ['2023.02.27', '60,500', '800', '60,800', '60,800', '60,200', '11,155,697'],
  ['2023.02.24', '61,300', '700', '62,300', '62,600', '61,300', '10,308,143']],
 [['2023.02.23', '62,000', '900', '61,700', '62,500', '61,500', '13,047,099'],
  ['2023.02.22',
   '61,100',
   '1,000',
   '61,500',
   '61,800',
   '61,000',
   '11,959,088'],
  ['2023.02.21', '62,100', '600', '62,700', '62,800', '62,000', '7,665,046'],
  ['2023.02.20', '62,700', '100', '62,900', '63,000', '61,800', '12,908,073'],
  ['2023.02.17',
   '62,600',
   '1,100',
   '62,900',
   '63,300',
   '62,400',
   '10,791,265'],
  ['2023.02.16',
   '63,700',
   '1,500',
   '62,500',
   '63,700',
   '62,400',
   '13,798,831'],
  ['2023.02.15',
   '62,200',
   '1,000',
   '63,900',
   '63,900',
   '62,000',
   '13,208,103'],
  ['2023.02.14', '63,200', '300', '63,600', '63,900', '63,200', '9,126,664'],
  ['2023.02.13', '62,900', '100', '62,900', '63,000', '62,300', '10,730,362'],
  ['2023.02.10', '62,800', '200', '62,600', '63,000', '62,400', '9,382,576']],
 [['2023.02.09', '63,000', '100', '63,000', '63,300', '62,300', '12,164,865'],
  ['2023.02.08',
   '63,100',
   '1,200',
   '62,800',
   '63,300',
   '62,400',
   '12,243,125'],
  ['2023.02.07', '61,900', '300', '61,900', '62,500', '61,600', '14,491,039'],
  ['2023.02.06',
   '61,600',
   '2,200',
   '62,800',
   '63,000',
   '61,600',
   '15,529,356'],
  ['2023.02.03', '63,800', '300', '63,900', '64,000', '63,000', '15,194,598'],
  ['2023.02.02',
   '63,500',
   '1,700',
   '63,200',
   '63,900',
   '62,600',
   '23,285,983'],
  ['2023.02.01', '61,800', '800', '62,600', '62,700', '61,000', '18,570,133'],
  ['2023.01.31',
   '61,000',
   '2,300',
   '63,500',
   '63,700',
   '61,000',
   '29,746,731'],
  ['2023.01.30',
   '63,300',
   '1,300',
   '64,900',
   '64,900',
   '63,100',
   '20,995,234'],
  ['2023.01.27', '64,600', '700', '64,400', '65,000', '63,900', '18,760,182']],
 [['2023.01.26', '63,900', '500', '63,800', '63,900', '63,300', '13,278,277'],
  ['2023.01.25',
   '63,400',
   '1,600',
   '63,500',
   '63,700',
   '63,000',
   '16,822,710'],
  ['2023.01.20', '61,800', '300', '62,100', '62,300', '61,100', '9,646,327'],
  ['2023.01.19',
   '61,500',
   '1,100',
   '60,500',
   '61,500',
   '60,400',
   '12,808,490'],
  ['2023.01.18', '60,400', '600', '60,700', '61,000', '59,900', '11,584,041'],
  ['2023.01.17', '61,000', '100', '61,200', '61,500', '60,600', '9,831,456'],
  ['2023.01.16', '61,100', '300', '61,300', '61,600', '60,800', '10,039,972'],
  ['2023.01.13', '60,800', '300', '60,500', '61,200', '60,400', '12,510,328'],
  ['2023.01.12', '60,500', '0', '61,100', '61,200', '59,900', '16,102,561'],
  ['2023.01.11', '60,500', '100', '61,000', '61,200', '60,300', '12,310,751']]]

In [44]:
import time

In [45]:
import random

In [91]:
# 모든 데이터에 대해 가져오기
total_data_list = []
page_num = 674
prev_data_time_set = set()

while True :
    url = "https://finance.naver.com/item/sise_day.naver?code=005930&page={}".format(page_num)
    res = requests.get(url, headers = req_headers)
    soup = bs4.BeautifulSoup(res.text)
    data_tr_elements = soup.select("table.type2 > tr[onmouseover='mouseOver(this)']")
    page_data_list = []
    
    # 현재 페이지 날짜 정보만 담는 set
    current_data_time_set = set()
    for e in data_tr_elements :
        
        # 각 tr, 즉 row 마다 data 를 가져온다
        td_elements = e.select("td")
        
        # 행에 있는 모든 td 데이터들을 집어넣는다.
        data_list = []
        
        # enumerate : idx~val 을 쌍으로 리턴해준다.
        for idx, td_e in enumerate(td_elements) :
            # 날짜 데이터
            if idx == 0 :
                current_data_time_set.add(td_e)
                data_list.append(td_e.text.strip())
            # 숫자 형태로 데이터를 추가하기 , 중간에 ',' 제거하기
            else :
                if td_e == "":
                    continue
                data_list.append(int(td_e.text.strip().replace(",", "")))
        page_data_list.append(data_list)

    # 범위를 넘어서는 page 를 crawling 하면, 이전 page 와 같은 내용을 가져온다.
    if prev_data_time_set == current_data_time_set :
        print("끝")
        break;
        
    prev_data_time_set = current_data_time_set
    
    # total_data_list 을 2차원 list 형태로 담기 위함
    for data in page_data_list :
        total_data_list.append(data)
        
    # 지나치게 빠른 속도로 요청을 보내는 것을 제한하기 위함
    time.sleep(random.random() * 2)
    page_num += 1
    if page_num == 4 :
        break;

ValueError: invalid literal for int() with base 10: ''

In [ ]:
total_data_list

In [70]:
# 하나의 변수로 관리하기 (pandas)

In [71]:
import pandas as pd

In [73]:
pd.__version__

'1.3.4'

In [79]:
df = pd.DataFrame(total_data_list, columns= ["날짜", "종가", "전일비", "시가", "고가", "저가", "거래량"])
df

            날짜      종가    전일비      시가      고가      저가      거래량
0   1996.07.22  75,000  1,700  76,100  77,400  75,000  178,690
1   1996.07.20  76,700  2,500  75,700  78,600  74,200  298,780
2   1996.07.19  74,200  4,200  70,000  74,200  70,000  179,810
3   1996.07.18  70,000  1,200  69,000  72,000  68,900  222,710
4   1996.07.16  68,800    800  67,000  69,100  66,500   55,880
5   1996.07.15  68,000    900  69,000  69,500  68,000   66,490
6   1996.07.13  68,900    100  69,000  69,500  68,900   59,150
7   1996.07.12  68,800      0  68,800  70,000  68,300   91,420
8   1996.07.11  68,800  1,800  70,600  70,800  68,500  109,690
9   1996.07.10  70,600  1,100  71,700  72,000  70,500   99,200
10  1996.07.09  71,700    800  70,900  71,700  70,100   64,910
11  1996.07.08  70,900    600  71,600  71,600  70,800   62,100
12  1996.07.06  71,500    200  71,300  72,700  71,300   35,510
13  1996.07.05  71,300    600  72,000  72,300  71,000   77,960
14  1996.07.04  71,900    600  72,800  73,000  71,500   80,830
15  1996.07.03  72,500    400  72,900  73,200  71,700  100,330
16  1996.07.02  72,900    900  72,000  74,100  72,000  276,270
17  1996.07.01  72,000  3,500  69,000  72,300  68,800  147,310
18  1996.06.29  68,500    400  68,100  69,100  67,100   96,710
19  1996.06.28  68,100  1,200  67,300  68,500  67,200  138,430
20  1996.06.27  66,900    800  67,500  67,700  66,700  155,450
21  1996.06.26  67,700    200  67,600  67,900  66,000  136,630
22  1996.06.25  67,500      0  66,500  68,300  65,600  112,960
23
24
25
26
27
28
29

In [78]:
# object : 각 열의 데이터가 "문자열" 이라는 의미가 될 수 있다.숫자가 아니라
df.dtypes

날짜     object
종가     object
전일비    object
시가     object
고가     object
저가     object
거래량    object
dtype: object

In [80]:
# "날짜" 열 부터 출력
df = df.set_index("날짜")
df.head()

                종가    전일비      시가      고가      저가      거래량
날짜
1996.07.22  75,000  1,700  76,100  77,400  75,000  178,690
1996.07.20  76,700  2,500  75,700  78,600  74,200  298,780
1996.07.19  74,200  4,200  70,000  74,200  70,000  179,810
1996.07.18  70,000  1,200  69,000  72,000  68,900  222,710
1996.07.16  68,800    800  67,000  69,100  66,500   55,880